

.listcontainer{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgba(140, 214, 209, 0.8);
}

.header {
    font-weight: bold;
    margin-top: 30px;
    font-size: xx-large;
}

div.ui.header.temp{
    font-size: 75px;
    margin: 0;
    padding: 0;
}
.weathercontainer{
    display: flex;
    justify-content: center;
}

.bigcontainer{
    width: 50%;
}

.icon{
    height: 100px;
    width: 100px;
}

.text{
    font-family: 'Roboto', sans-serif;}
