*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-image: url('https://unsplash.com/photos/lsoogGC_5dg');
}

